<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <title>Delete Admin</title>
</head>
<body>
    <h1>Delete Admin</h1>

    <form id="admin-delete-form">
        <label for="adminId">Admin ID:</label>
        <input type="text" id="adminId" name="adminId" required><br>

        <button type="submit">Delete Admin</button>
    </form>

    <div id="admin-delete-result"></div>

    <script src="/resources/static/js/admin-delete.js" type="application/javascript"></script>
</body>
</html>
