<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Order</title>
</head>
<body>
    <h1>Delete Order</h1>
    <form id="delete-order-form">
        <label for="order-id">Order ID:</label>
        <input type="number" id="order-id" required>
        <button type="submit">Delete Order</button>
    </form>
    <div id="delete-order-result"></div>

    <script src="/resources/static/js/order-delete.js"></script>
</body>
</html>
