<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <title>Get User by ID</title>
</head>
<body>
    <h1>Get User by ID</h1>

    <form id="get-user-form">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required><br>

        <!-- Get User butonunu ekledik -->
        <button type="submit">Get User</button>
    </form>

    <div id="user-details"></div>

    <script src="/resources/static/js/user-details.js" type="application/javascript"></script>
</body>
</html>
