<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>

    <ul id="user-list">
        <!-- User items will be displayed here -->
    </ul>

    <button id="get-users-button">Get Users</button>

    <div id="user-list-result"></div>

    <script src="/resources/static/js/user-list.js" type="application/javascript"></script>
</body>
</html>
