<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <title>Delete Ingredient</title>
</head>
<body>
    <h1>Delete Ingredient</h1>

    <form id="delete-ingredient-form">
        <label for="ingredientId">Ingredient ID:</label>
        <input type="number" id="ingredientId" name="ingredientId" required><br>

        <!-- Delete Ingredient butonunu ekledik -->
        <button type="submit">Delete Ingredient</button>
    </form>

    <div id="delete-ingredient-result"></div>

    <script src="/resources/static/js/ingredients-delete.js" type="application/javascript"></script>
</body>
</html>
