<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meat Ingredients List</title>
    <link rel="stylesheet" href="/resources/static/css/style-index.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">LOGO</a>
            </div>
            <ul>
                <li><a href="/resources/templates/index.html">HOME</a></li>
                <li><a href="/resources/templates/about-us.html">About Us</a></li>
                <li><a href="/resources/templates/contact.html">Contact</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">MENU</a></li>
            </ul>
        </div>
        <div class="center">
            <h1>Meat Ingredients List</h1>

            <ul id="ingredient-list">
                <!-- Ingredients will be displayed here -->
            </ul>

            <button id="get-ingredients-button">Get Meat Ingredients</button>

            <div id="ingredient-list-result"></div>
        </div>
    </div>

    <script src="/resources/static/js/meat-ingredient-list.js" type="application/javascript"></script>
</body>
</html>
