<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <title>Ingredients List</title>
</head>
<body>
    <h1>Ingredients List</h1>

    <ul id="ingredient-list">
        <!-- Ingredients will be displayed here -->
    </ul>

    <button id="get-ingredients-button">Get Ingredients</button>

    <div id="ingredient-list-result"></div>

    <script src="/resources/static/js/ingredient-list.js" type="application/javascript"></script>
</body>
</html>
