<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <title>Get Ingredient by ID</title>
</head>
<body>
    <h1>Get Ingredient by ID</h1>

    <form id="get-ingredient-form">
        <label for="ingredientId">Ingredient ID:</label>
        <input type="text" id="ingredientId" name="ingredientId" required><br>

        <!-- Get Ingredient butonunu ekledik -->
        <button type="submit">Get Ingredient</button>
    </form>

    <div id="ingredient-details"></div>

    <script src="/resources/static/js/ingredients-details.js" type="application/javascript"></script>
</body>
</html>
