<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="/images/QuerilessFavicon.png"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <title>Queriless</title>
</head>
<body>

<div class="pill-nav">
    <span sec:authorize="isAuthenticated()"> | Logged user: <span sec:authentication="name"></span>
        | <a th:href="@{/logout}">Sign Out</a> </span>

    <a th:href="@{/profile}">Profile page</a>

    <a th:href="@{/admin}">Administrator page </a>

    <a th:href="@{/dbmenu}">Database menu </a>
</div>


<div id="main-container">
    <div id="inside-logo">
        <img src="../static/images/QuerilessLogoDark.png" th:src="@{/images/QuerilessLogoDark.png}" alt="Logo">
    </div>

    <h2 id="error-message">Unauthorized access</h2>

</div>

</body>
</html>