<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salad App - About Us</title>
    <link rel="stylesheet" href="/resources/static/css/style-index.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">LOGO</a>
            </div>
            <ul>
                <li><a href="/resources/templates/index.html"class="active">HOME</a></li>
                <li><a href="/resources/templates/about-us.html">About Us</a></li>
                <li><a href="/resources/templates/contact.html">Contact</a></li>
                <li><a href="/resources/templates/login.html">Login</a></li>
                <li><a href="#">MENU</a></li>
            </ul>
        </div>
        <div class="center">
            <!-- About Us Start -->
            <h1>About Us</h1>
              <p>Salad App is a unique application that revolutionizes the world of salads. Our goal is to empower individuals to customize their own salad menus, taking a step towards a healthier lifestyle.</p>

              <p>Salad App makes it easy for everyone, from children to the elderly, to create salads that suit their taste. You can prepare the same salad to capture the same flavor, or discover brand new salad recipes you've never tried before.</p>

              <p>By using Salad App, you can shape your own healthy lifestyle and create salads that match your taste in seconds. Join us to improve your health and quality of life.</p>

              <p>Our application, a first of its kind in the world, will become even more popular in the future and will offer users more options to personalize their menus. As the Salad App family, we are excited to introduce personalized menus and unique concepts in different sectors to our valued users.</p>
            <!-- About Us Finish -->
        </div>
    </div>
</body>
</html>
