<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salad App</title>
    <link rel="stylesheet" href="/resources/static/css/style-index.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">LOGO</a>
            </div>
            <ul>
                <li><a href="/resources/templates/index.html"class="active">HOME</a></li>
                <li><a href="/resources/templates/about-us.html">About Us</a></li>
                <li><a href="/resources/templates/contact.html">Contact</a></li>
                <li><a href="/resources/templates/login.html">Login</a></li>
                <li><a href="#">MENU</a></li>
            </ul>
        </div>
        <div class="center">
           <h1>Welcome to </h1>
           <h2>Salad App</h2> 
           <div class="buttons">
            <a href="/resources/templates/salad/salad-create.html">
                <button>Create Your Salad!</button>
            </a>
           </div>
        </div>
    </div>
    
</body>
</html>