<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Salad</title>
</head>
<body>
    <h1>Delete Salad</h1>
    <p>Enter the Salad ID you want to delete:</p>
    <input type="text" id="salad-id" placeholder="Salad ID">
    <button id="delete-salad-button">Delete Salad</button>
    <div id="delete-salad-result"></div>

    <script src="/resources/static/js/salad-delete.js"></script>
</body>
</html>
