<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/resources/static/css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Salad Price</title>
</head>
<body>
    <h1>Calculate Salad Price</h1>
    <form id="calculate-price-form">
        <label for="salad-id">Salad ID:</label>
        <input type="text" id="salad-id" name="salad-id" required><br><br>
        <input type="submit" value="Calculate Price">
    </form>
    
    <div id="calculate-price-result"></div>

    <script src="/resources/static/js/salad-price-details.js"></script>
</body>
</html>
